%h2 Mudar a senha

= form_for(@user, :html => { :method => :put, :class => 'form-horizontal' },
                  remote: true) do |f|
  = devise_error_messages!
  .control-group
    .controls
      = f.hidden_field :reset_password_token

  .control-group
    = f.label :current_password, "Senha atual",
              :class => 'control-label'
    .controls
      = f.password_field :current_password, :autofocus => true

  .control-group
    = f.label :password, "Nova senha",
              :class => 'control-label'
    .controls
      = f.password_field :password, :autocomplete => 'off'

  .control-group
    = f.label :password_confirmation, "Confirme a nova senha", 
              :class => 'control-label'
    .controls
      = f.password_field :password_confirmation

  .control-group
    .controls
      = f.submit 'Salvar', :class => 'btn btn-primary'