%h2 Mudar a senha

= form_for(@user, :html => { :method => :put }, remote: true) do |f|
  = devise_error_messages!
  .control-group
    .controls
      = f.hidden_field :reset_password_token

  .control-group
    .controls
      = f.label :current_password
      = f.password_field :current_password, :autofocus => true

  .control-group
    .controls
      = f.label :password
      = f.password_field :password, :autocomplete => 'off'

  .control-group
    .controls
      = f.label :password_confirmation
      = f.password_field :password_confirmation
  .control-group
    .controls
    = f.submit 'Salvar', :class => 'btn btn-primary'