%a.btn.btn-navbar{ 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse' }
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar

%a.brand{ :href =>"#{ user_signed_in? ? user_path(current_user.id) : root_path}" } My-Auth
.nav-collapse

%ul.nav
  %li
    %a{ href: products_path } Loja
  %li
    %a{ href: '#' } Blog

-if user_signed_in?

  %ul.nav.pull-right
    -if cart_empty?
      %li
        %a Carrinho (vazio)
    -else
      %li= link_to_cart
    %li
      %a{ href: piggybak_path } Checkout

    %li.dropdown
      %a.dropdown-toggle{ :href => '#', 'data-toggle' => 'dropdown' }
        %i.icon-wrench
        %strong.caret
      %ul.dropdown-menu{ :role => 'menu', 'aria-labelledby' => 'dropdownMenu' }
        %li
          = link_to 'Meu pefil', edit_user_path(current_user.id), :tabindex => '-1'
        -if current_user.admin?
          %li
            = link_to 'Admin', rails_admin_path, :tabindex => '-1'
        %li.divider
        %li
          = link_to 'Sair', destroy_user_session_path, :method => :delete,
                                                       :tabindex => '-1'

-else

  %ul.nav.pull-right
    %li
      = link_to 'Cadastrar', new_user_registration_path
    %li.divider-vertical
    %li.dropdown
      %a.dropdown-toggle{ :href => '#', 'data-toggle' => 'dropdown' }
        Entrar
        %strong.caret
      .dropdown-menu
        = form_for('user', :as => User, :url => new_user_session_path) do |f|
          = f.text_field :email, :placeholder => 'E-mail'
          = f.password_field :password, :placeholder => 'Senha'
          %div
            = f.check_box :remember_me, :style => 'float: left; margin-right: 5px;'
            = f.label 'Manter-me conectado'
          = f.submit 'Entrar', :class => 'btn btn-primary', :style => 'width: 100%;'