.well
  %h1 Novo post
  = form_for 'post', url: { action: 'create' },
                     html: { class: 'form-horizontal',
                             id: 'new_post_form'}  do |f|
    .control-group
      = f.label :title, class: 'control-label'
      .controls
        = f.text_field :title, placeholder: 'Titulo'
    .control-group
      = f.label :content, class: 'control-label'
      .controls
        = f.cktext_area :content
    .form
      .controls
        = f.submit "Postar", class: 'btn'